<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

  <header id="header" style="background-color: hsl(173.06,50.00%,23.73%);">
    <div class="d-flex flex-column" >

      <div class="profile">
        <img src="static/img/logo.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light" ><a href="/">Victor Lin</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/linbinglin3" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/victor.lin.3158652"  target="_blank"class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/lin___lin___lin__lin__lin/"  target="_blank"class="instagram"><i class="bx bxl-instagram"></i></a>
    
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar" >
        <ul>
          <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

</head>
<body>